# Python
__pycache__/
*.pyc
venv/
.env

# Data files (optional – keep if you want the CSVs in the repo)
# *.csv
# *.geojson

# Large file
google-chrome-stable_current_amd64.deb

# Streamlit
.streamlit/

# OS
.DS_Store
